UserParameter=tableau.MACHINE.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py MACHINE.discovery
UserParameter=tableau.WORKER.applicationserver.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.applicationserver.discovery
UserParameter=tableau.WORKER.backgrounder.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.backgrounder.discovery
UserParameter=tableau.WORKER.cacheserver.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.cacheserver.discovery
UserParameter=tableau.WORKER.clustercontroller.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.clustercontroller.discovery
UserParameter=tableau.WORKER.coordination.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.coordination.discovery
UserParameter=tableau.WORKER.dataserver.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.dataserver.discovery
UserParameter=tableau.WORKER.filestore.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.filestore.discovery
UserParameter=tableau.WORKER.gateway.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.gateway.discovery
UserParameter=tableau.WORKER.hyper.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.hyper.discovery
UserParameter=tableau.WORKER.repository.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.repository.discovery
UserParameter=tableau.WORKER.searchandbrowse.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.searchandbrowse.discovery
UserParameter=tableau.WORKER.vizqlserver.discovery,{{ tableau_zabbix_monitoring_script_path }}tableau_getter.py WORKER.vizqlserver.discovery
